<!DOCTYPE html>
<html lang="en">
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% load station_tags %}
<head>
    <style>
      .leaflet-container {height: 100%;}
      #argentina {height: 800px;
                   width: 600px;}
    </style>

    <meta charset="UTF-8">
</head>
    <script type="text/javascript">

        window.addEventListener("map:init", function (event) {
            var myStyle = {
                "color": "#ff7800",
                "weight": 2,
                "opacity": 0.65
            };
            var map = event.detail.map;

            var osm=new L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',{
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'});

            // https: also suppported.
            var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
            });

            // https: also suppported.
            var Esri_WorldGrayCanvas = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}', {
                attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ',
                maxZoom: 16
            }).addTo(map);;


            // https: also suppported.
            //var Stamen_TopOSMFeatures = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/toposm-features/{z}/{x}/{y}.{ext}', {
            //    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            //    subdomains: 'abcd',
            //    minZoom: 0,
            //    maxZoom: 20,
            //    ext: 'png',
            //    bounds: [[-55, -75], [-53, -20]],
            //    opacity: 0.9
            //});

            var OpenStreetMap_BlackAndWhite = L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            });
            //OpenStreetMap_BlackAndWhite.addTo(map);

            //var blue = L.layerGroup([
            //    Esri_WorldGrayCanvas,
            //    Stamen_TopOSMFeatures
            //    ]);
            var MyData = L.tileLayer('http://10.16.12.23:3000/contrib.rivers_courses/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'My Stuff'
            });

            var baseMaps = {
                "Open Street Map": osm,
                "Imagery":Esri_WorldImagery,
                "Gray":Esri_WorldGrayCanvas,
                //"Blue Base":blue,
                "OSM B&W":OpenStreetMap_BlackAndWhite,
                "My Data":MyData
            };

            var overlayMaps = {};

            //Add layer control
            L.control.layers(baseMaps, overlayMaps).addTo(map);

            var dataurl = '{% url "catchment" %}';
            //var layer0 = L.geoJSON().addTo(map);
            //var layer1 = L.geoJSON().addTo(map);
            //var lc = map.layerscontrol;
            // Download GeoJSON data with Ajax
            fetch(dataurl)
              .then(function(resp) {
                return resp.json();
              })
              .then(function(data) {
                L.geoJson(data //,
                //{
                //style: myStyle
                //}
                ).addTo(map);
              });
            var stat=''      //'1211/'
            var dataurl = '{% url "gauges" %}'+stat;
            // Download GeoJSON data with Ajax
            fetch(dataurl)
              .then(function(resp) {
                return resp.json();
              })
              .then(function(data) {
                L.geoJson(data, {
                  onEachFeature: function onEachFeature(feature, layer) {
                    var props = feature.properties;
                    //var catchment = {% catchment props.code %};
                    //fetch('{% url "catchment" %}'${props.code})
                    //  .then(function(resp) {
                    //          return resp.json();
                    //                  })
                    //  .then(function(data) {
                    //  L.geoJson(data).addTo(map);});
                    var content = `<p>Station code: ${props.code}</p>
                                   <h6>Name: ${props.station_name}</h6>
                                   <p>Catchment: ${catchment}</p>
                                   <p>River: ${props.river_name}</p>`;
                    //layer.bindPopup(content);
                }}).addTo(map);
              });

            //var baseLayers = {}
            //var overlayMaps = {
            //                   "River Network": layer0,
            //                   "Gauge Stations": layer1
            //};
            //layer0.addto(map)
             //L.control.layers(baseLayers,overlayMaps).addTo(map);
          });
          //function get_catchment(code)
          //      {
          //        $.ajax({url: '/',
          //                type: 'POST',
          //                data: {codes: code},
          //                datatype: 'json',
          //                beforeSend: function(xhr){xhr.setRequestHeader('X-CSRFToken', "{{csrf_token}}")},
          //                success: function(response)
          //                {
          //                    /* TODO
          //                    How do I refresh the map here?*
          //                },
          //                complete: function(){},
          //                error: function(xhr, textStatus, thrownError){}})
          //      }

    </script>

<body>
    {% leaflet_map "argentina"  %}

</body>
</html>