<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Water Balance Model Visualization{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->

    {% block header %}{% endblock %}
    {% block style %}{% endblock %}

</head>

<body class="row">
  <div class="d-flex container-fluid" id="wrapper">

    <!-- Sidebar -->
    <aside class="bg-light border-right sidebar col-lg-2" id="sidebar-wrapper">
      <div class="h4">Water Balance Model Visualization</div>
        <hr>
        <h6>Countries</h6>
      <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-primary list-group-item-action bg-light" href="{% url 'home' 'argentina' 0 %}">Argentina</a>
           <a class="list-group-item list-group-item-primary list-group-item-action bg-light" href="{% url 'home' 'peru' 0 %}">Peru</a>
      </div>

        <h6>Controls</h6>

        {% block controls %}
        {% endblock %}
    </aside>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="col-lg-10">

                {% block content %}

                {% endblock %}

    </div>
</div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


{% block script %}{% endblock %}


</body>
</html>