{% extends "base.html" %}
{% load static %}

{% block script %}

{% endblock %}

{% block content %}
    <div id="evapotranspiration" class="chart"></div>

        <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">
      var graphs = {{plt_json | safe}};
      Plotly.plot('evapotranspiration',graphs,{});
    </script>
{% endblock %}


