<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subbasin {{ subbasin.id }}</title>

    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}


    <style>
        .map {
            width: 1000px;
            height: 1000px;
        }
    </style>

    <script type="text/javascript">
        function polystyle(feature){
            return {
                color : 'red'
            }
        }

        const argentina_coords = [-38.4161, -63.6167]

        function subbasin_map_init(map, options) {
            {#map.setView(argentina_coords, 3);#}

            const subbasin_polygon = L.geoJSON({{ subbasin.geom.geojson|safe }})
            const subbasin_catchment = L.geoJSON({{ subbasin.get_catchment|safe }},{style: polystyle})

            subbasin_catchment.addTo(map)
            subbasin_polygon.addTo(map)
            map.fitBounds(subbasin_catchment.getBounds())
        }

    </script>
</head>
<body>

{% block content %}

    <h2>Subbasin</h2>
    <div class="map" id="subbasin_map">
        {% leaflet_map "subbasin_map" callback="subbasin_map_init" %}
    </div>

{% endblock %}
</body>
</html>