{% extends "base.html" %}
{% load static %}

{% block script %}
    <script src="https://gmousse.github.io/dataframe-js/dist/dataframe.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

    <div  id="AirTemperature"></div>
    <div  id="Evapotranspiration"></div>
    <div id="Precipitation"></div>
    <div id="SoilMoisture"></div>

    <script src="{% static 'stats.js' %}" subbasin_id="{{ subbasin_id }}"></script>

{% endblock %}

