<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subbasin {{ subbasin.id }}</title>

    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}


    <style>
        .map {
            width: 600px;
        }
    </style>

    <script type="text/javascript">
        function subbasin_map_init(map, options) {
            map.setView([-38.4161, -63.6167], 3);
            L.geoJSON({{ subbasin.geom.geojson|safe }}).addTo(map)
        }

        function catchment_map_init(map, options) {
            map.setView([-38.4161, -63.6167], 3);
            L.geoJSON({{ subbasin.get_catchment|safe }}).addTo(map)
        }
    </script>
</head>
<body>

{% block content %}

    <h2>Subbasin</h2>
    <div class="map" id="subbasin_map">
        {% leaflet_map "subbasin_map" callback="subbasin_map_init" %}
    </div>

    <h2>Catchment</h2>
    <div class="map" id="catchment_map">
        {% leaflet_map "catchment_map" callback="catchment_map_init" %}
    </div>

{% endblock %}
</body>
</html>